.main {
    flex: 1;
    /* 使 main 部分填滿剩餘空間 */
    display: flex;
    /* 使用 flex 布局 */
    justify-content: center;
    /* 水平居中內容 */
    align-items: center;
    /* 垂直居中內容 */
    min-height: 85vh;
    /* 最小高度設為視窗高度的 85% */
    font-size: 75px;
    /* 設置字體大小 */
}